<header class="header">

  <button aria-expanded="false" aria-controls="menu" aria-label="Click to open the menu" class="bt-menu"><svg class="icon-top icon-menu"><use xlink:href="#icon-menu"></use></svg></button>
    <nav class="menu">
      <a aria-label="Back to home page" href="/"> Home </a>
      <a aria-label="Get to know me a little more" href="/about"> About </a>
      <a aria-label="My blog" href="/blog"> Blog </a>
      <a aria-label="Talk to me" href="/contact"> Contact </a>
    </nav>
  
</header>
